# build output
bin/
obj/
out/

# VS/JetBrains
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
.nuget/
*.nupkg
packages/

# API Keys
keys/

# Gemini conversational context
/GEMINI.md

orders/*.cs