<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- Send trx to tests/Results with a fixed name -->
    <ResultsDirectory>Results</ResultsDirectory>
    <Loggers>
      <Logger friendlyName="trx" uri="trx" assemblyQualifiedName="" />
    </Loggers>
    <TestSessionTimeout>0</TestSessionTimeout>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger
        friendlyName="trx"
        enabled="True">
        <Configuration>
          <TestRunParameters>
            <Parameter name="LogFileName" value="test_results.trx" />
          </TestRunParameters>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
